---
layout: default
---

{% include hexagons.html %}

{% include hero.html %}
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


 <!-- Navigation -->
  <div class="header sticky-top">
    <nav class="navbar-sticky-top navbar-expand-sm navbar-light bg-light" id="mainNav">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#expect">WHAT TO EXPECT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#resources">RESOURCES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#faq">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#sponsors">SPONSORS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">OUR TEAM</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

<!-- About -->
{% include about.html %}

<!-- Icons -->
<!-- <section class="icons">
  <div class="container">
    <div class="icon-row">
        <h1 class="text-center" style="font-family: 'Raleway', sans-serif;">Hackathons Provide Endless Possibilities</h1>
        <div class="icon-column">
          <img class="icon" src="images/Learning.png" alt="Bee with code snippet">
          <h2 class="icon">Learning</h2>
            <p>Attend Workshops</p>
            <p>Share knowledge</p>
            <p>Get help from mentors</p>
            <p>Learn from professionals</p>
            <p>Grow your skillset</p>
        </div>
        <div class="icon-column">
          <img class="icon" src="images/Exploring.png" alt="Bee with rocket ship">
          <h2 class="icon">Exploring</h2>
            <p>Discover new industries</p>
            <p>Meet students from other majors</p>
            <p>Roam the beautiful UMass campus</p>
            <p>Get acquainted with new technologies</p>
        </div>
        <div class="icon-column">
          <img class="icon" src="images/Creating.png" alt="Bee with lightbulb idea">
          <h2 class="icon">Creating</h2>
            <p>Build something new</p>
            <p>Solve real-world problems</p>
            <p>Create your own software</p>
            <p>Be proud of what you’ve accomplished</p>
        </div>
      </div>
  </div>
  </section> -->

<!-- What Makes Us Different -->
<!-- {% include different.html %} -->

<!-- What to expect -->
<section id="expect" class="expect" style="padding-bottom: 100px;">
  <div class="container">
    <h1 class="text-center faq-header" style="font-family: 'Raleway', sans-serif !important;">Check out our Schedule!</h1>

    <iframe height="900px" style="width: 100%; margin-top: 60px" " scrolling="yes" title="Day Event Calendar" src="//codepen.io/katiehouse3/embed/LqLgaV/?height=265&theme-id=0&default-tab=result" frameborder="no" allowtransparency="true" allowfullscreen="true">
</iframe>

  </div>
    <!-- <div class="col-md-6">
      <ul class="main" style="list-style: none; max-width: 100%; ">
        <li class="date" style="width: 17%; padding: 15% 1% 0 0; float: left;">
          <h3 style="font-size: 1.5em;">Feb 9</h3>
          <p style="font-size: .8em;">Schedule of Events</p>
        </li>
        <li class= "events" style="float: left; width: 80%; border-left: 1px solid #000; margin-top: 10%; padding-top: 3%;">
          <ul class="events-detail" style="max-width: 550px; list-style: none;">
            <li class="events-detail" style="padding: 10px; border-bottom: 1px dashed #000; line-height: 22px; transition: ease 0.4s all;">
                <span class="event-time" style="font-weight: 900;">8:00am - </span>
                <span class="event-name">Check-in & Registration</span>
                <br />
            </li>
            <li class="events-detail" style="padding: 10px; border-bottom: 1px dashed #000; line-height: 22px; transition: ease 0.4s all;">
                <span class="event-time" style="font-weight: 900;">9:00am - </span>
                <span class="event-name">Breakfast</span>
                <br />
            </li>
            <li class="events-detail" style="padding: 10px; border-bottom: 1px dashed #000; line-height: 22px; transition: ease 0.4s all;">
                <span class="event-time" style="font-weight: 900;">10:00am - </span>
                <span class="event-name">Welcome Ceremony</span>
                <br />
            </li>
            <li class="events-detail" style="padding: 10px; border-bottom: 1px dashed #000; line-height: 22px; transition: ease 0.4s all;">
                <span class="event-time" style="font-weight: 900;">11:00am - </span>
                <span class="event-name">Hacking Begins!</span>
                <br />
            </li>
            <li class="events-detail" style="padding: 10px; border-bottom: 1px dashed #000; line-height: 22px; transition: ease 0.4s all;">
                <span class="event-time" style="font-weight: 900;">11:00am - </span>
                <span class="event-name">Sponsors' Fair</span>
                <br />
            </li>
            <li class="events-detail" style="padding: 10px; border-bottom: 1px dashed #000; line-height: 22px; transition: ease 0.4s all;">
                <span class="event-time" style="font-weight: 900;">12:00pm - </span>
                <span class="event-name">Lunch</span>
                <br />
            </li>
            <li class="events-detail" style="padding: 10px; border-bottom: 1px dashed #000; line-height: 22px; transition: ease 0.4s all;">
                <span class="event-time" style="font-weight: 900;">12:30pm - </span>
                <span class="event-name">Workshops Begin</span>
                <br />
            </li>
            <li class="events-detail" style="padding: 10px; border-bottom: 1px dashed #000; line-height: 22px; transition: ease 0.4s all;">
                <span class="event-time" style="font-weight: 900;">3:00pm - </span>
                <span class="event-name">Coffee With Mentors</span>
                <br />
            </li>
            <li class="events-detail" style="padding: 10px; border-bottom: 1px dashed #000; line-height: 22px; transition: ease 0.4s all;">
                <span class="event-time" style="font-weight: 900;">5:00pm - </span>
                <span class="event-name">Women & Gender Minorities in the Workforce Panel</span>
                <br />
            </li>
            <li class="events-detail" style="padding: 10px; border-bottom: 1px dashed #000; line-height: 22px; transition: ease 0.4s all;">
                <span class="event-time" style="font-weight: 900;">6:00pm - </span>
                <span class="event-name">Dinner</span>
                <br />
            </li>
            <li class="events-detail" style="padding: 10px; border-bottom: 1px dashed #000; line-height: 22px; transition: ease 0.4s all;">
                <span class="event-time" style="font-weight: 900;">11:59pm - </span>
                <span class="event-name">Midnight Surprise</span>
                <br />
            </li>
          </ul>
        </li>
        </ul>
        </div>
        <div class="col-md-6">
          <ul class="main" style="list-style: none; max-width: 100%; ">
          <li class="date" style="width: 17%; padding: 15% 1% 0 0; float: left;">
          <h3 style="font-size: 1.5em;">Feb 10</h3>
          <p style="font-size: .8em;">Schedule of Events</p>
        </li>
        <li class= "events" style="float: left; width: 80%; border-left: 1px solid #000; margin-top: 10%; padding-top: 3%;">
          <ul class="events-detail" style="max-width: 550px; list-style: none;">
            <li class="events-detail" style="padding: 10px; border-bottom: 1px dashed #000; line-height: 22px; transition: ease 0.4s all;">
                <span class="event-time" style="font-weight: 900;">9:00am - </span>
                <span class="event-name">Breakfast</span>
                <br />
            </li>
            <li class="events-detail" style="padding: 10px; border-bottom: 1px dashed #000; line-height: 22px; transition: ease 0.4s all;">
                <span class="event-time" style="font-weight: 900;">11:00am - </span>
                <span class="event-name">Hacking Ends</span>
                <br />
            </li>
            <li class="events-detail" style="padding: 10px; border-bottom: 1px dashed #000; line-height: 22px; transition: ease 0.4s all;">
                <span class="event-time" style="font-weight: 900;">11:45am - </span>
                <span class="event-name">Lunch</span>
                <br />
            </li>
            <li class="events-detail" style="padding: 10px; border-bottom: 1px dashed #000; line-height: 22px; transition: ease 0.4s all;">
                <span class="event-time" style="font-weight: 900;">12:30pm - </span>
                <span class="event-name">Presentations & Judging</span>
                <br />
            </li>
            <li class="events-detail" style="padding: 10px; border-bottom: 1px dashed #000; line-height: 22px; transition: ease 0.4s all;">
                <span class="event-time" style="font-weight: 900;">3:00pm - </span>
                <span class="event-name">Closing Ceremony</span>
                <br />
            </li>
          </ul>
        </li>
      </ul>
    </div> -->
  </div>

</section>

<!-- Bus Section -->
<section id="bus" class="bus" style="padding-bottom: 50px; background: #EBF9F3;">
  <div class="container">
    <h1 class="text-center faq-header" style="font-family: 'Raleway', sans-serif !important;">Free Round Trip Buses from NYC and Boston!</h1>
    <p>This year we are happy to announce we will be providing free round trip buses to the event from both New York and Boston. Bus tickets will require a deposit of $10 that will be reimbursed once you board the bus. More details on the timing and logistics are on the sign up page once you RSVP for the event on our dashboard. Tickets are limited so secure yours today!</p>
    <img src="images/bus.png" alt="HackHer413 Bus" class="bus-pic" style=" width: 100%; height: auto; max-width : 500px; display: block; margin-left: auto; margin-right: auto; ">
  </div>
</section>

<!-- Keynote Section -->
{% include keynote.html %}

<!-- Prizes Section -->
<!-- {% include prize-categories.html %} -->
<section id="prizes" class="prizes">
  <div class="container">
    <h1 class="text-center faq-header" style="font-family: 'Raleway', sans-serif !important;">A Sneak Peak at some of our Prizes...</h1>

<iframe class="airtable-embed" src="https://airtable.com/embed/shrJsE1iEVxY8i1eR?backgroundColor=purpleLight&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
</div>
</section>
<!-- Resources Section -->
{% include resources.html %}

<!-- FAQ -->
<section id="faq" class="faq">
    <div class="container">
      <div class="row faq-section">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h1 class="text-center" style="font-family: 'Raleway', sans-serif;">FAQ</h1>
        {% for item in site.event.faq %}
        <button class="accordion">
        {{ item.question }}
        </button>
         <div class="panel">
          <p>{{ item.answer | markdownify }}</p>
        </div>
        {% endfor %}
        <p>Have a question that wasn't answered here? Email us at <a href="mailto:hackher413@gmail.com">hackher413@gmail.com</a>!</p>
      </div>
    </div>
  </div>
</section>

<!-- Sponsors -->
<section id="sponsors" class="sponsors">
  <div class="container-fluid">
    <h1 class="text-center style="font-family: 'Raleway', sans-serif;"">Our Sponsors</h1>
    <div class="row">
            <div class="col py-3">
              <a target="_blank" href="https://www.cics.umass.edu/"><img class="s-logo" src="images/logos/CICS-medium.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="UMASS CICS"></a>
            </div>
            <div class="col py-3">
              <a target="_blank" href="https://www.bnymellon.com/us/en/home.jsp"><img class="s-logo" src="images/logos/BNY_Mellon.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="BNY Mellon"></a>
            </div>
            <div class="col py-3">
              <a target="_blank" href="https://www.wayfair.com/"><img class="s-logo" src="images/logos/Wayfair_logo_with_tagline.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Wayfair"></a>
            </div>
          </div>
          <div class="row">
            <div class="col py-3">
              <a target="_blank" href="https://www.accenture.com/us-en/careers/students-graduates"><img class="s-logo" src="images/logos/Acc_Logo_Black_Purple_RGB.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Accenture"></a>
            </div>
            <div class="col py-3">
              <a target="_blank" href="https://www.travelers.com/"><img class="s-logo" src="images/logos/Travelers-Logo-2.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Travelers"></a>
            </div>
            <div class="col py-3">
              <a target="_blank" href="https://www.bloomberg.com/"><img class="s-logo" src="images/logos/Bloomberg.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Bloomberg"></a>
            </div>
          </div>
        <div class="row">
          <div class="col py-3">
            <a target="_blank" href="https://ds.cs.umass.edu/"><img class="s-logo" src="images/logos/blue_cds_w_cics.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Center for Data Science"></a>
          </div>
          <div class="col py-3">
            <a target="_blank" href="https://www.zipcar.com/"><img class="s-logo" src="images/logos/zipcar-logo-1140x407.gif" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Zipcar"></a>
          </div>
          <div class="col py-3">
            <a target="_blank" href="https://ehr.meditech.com/"><img class="s-logo" src="images/logos/MEDITECH-social-media-logo.gif" style=" width:15%; min-width:200px; white-space: nowrap; padding: 10px;" alt="MEDITECH"></a>
          </div>
        </div>
          <div class="row">
            <div class="col py-3">
              <a target="_blank" href="https://www.bose.com/en_us/index.html"><img class="s-logo" src="images/logos/Bose-Logo.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Bose"></a>
            </div>
            <div class="col py-3">
              <a target="_blank" href="https://www.libertymutual.com/"><img class="s-logo" src="images/logos/PNGPIX-COM-Liberty-Mutual-Insurance-Logo-PNG-Transparent.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Liberty Mutual"></a>
            </div>
            <div class="col py-3">
              <a target="_blank" href="https://cloud.google.com/"><img class="s-logo" src="images/logos/GCP logo, transparent.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Google Cloud Platform"></a>
            </div>
          </div>
          <div class="row">
            <div class="col py-3">
              <a target="_blank" href="https://www.isenberg.umass.edu/centers/berthiaume-center-for-entrepreneurship"><img class="s-logo" src="images/logos/UMass_Berthiaume_Center_horiz-RGB-lrg.jpg" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Berthiaume Center for Entrepreneurship"></a>
            </div>
            <div class="col py-3">
              <a target="_blank" href="https://www.massmutual.com/"><img class="s-logo" src="images/logos/MassMutual_logo_blue.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="MassMutual"></a>
            </div>
            <div class="col py-3">
              <a target="_blank" href="https://balsamiq.com/"><img class="s-logo" src="images/logos/balsamiq.svg" style=" width:15%; min-width:250px; white-space: nowrap; padding: 10px;" alt="Balsamiq"></a>
            </div>
          </div>
            <div class="row">
              <div class="col py-3">
                <a target="_blank" href="https://www.facebook.com"><img class="s-logo" src="images/logos/facebook-logo-psd.jpg" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Facebook"></a>
              </div>
              <div class="col py-3">
                <a target="_blank" href="https://neuralframe.com/"><img class="s-logo" src="images/logos/NF-Logo-Color-Horizontal.jpg" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="NeuralFrame"></a>
              </div>
              <div class="col py-3">
                <a target="_blank" href="https://www.umass.edu/sphhs/"><img class="s-logo" src="images/logos/image.png" style=" width:15%; min-width:200px; white-space: nowrap; padding: 10px;" alt="UMass Amherst School of Public Health & Health Sciences"></a>
              </div>
            </div>
            <div class="row">
              <div class="col py-3">
                <a target="_blank" href="https://www.twosigma.com/"><img class="s-logo" src="images/logos/2im5eno.jpg" style=" width:15%; min-width:200px; white-space: nowrap; padding: 10px;" alt="Two Sigma"></a>
              </div>
              <div class="col py-3">
                <a target="_blank" href="https://github.com/"><img class="s-logo" src="images/logos/github-logo.svg" style=" width:15%; min-width:200px; white-space: nowrap; padding: 10px;" alt="GitHub"></a>
              </div>
              <div class="col py-3">
                <a target="_blank" href="https://www.vistaprint.com"><img class="s-logo" src="images/logos/vistaprint.png" style=" width:15%; min-width:200px; white-space: nowrap; padding: 10px;" alt="Vistaprint"></a>
              </div>
            </div>
            <div class="row">
              <div class="col py-3">
                <a target="_blank" href="https://www.armoredthings.com/"><img class="s-logo" src="images/logos/ArmoredThings-BlackLogo.png" style=" width:15%; min-width:200px; white-space: nowrap; padding: 10px;" alt="Armored Things"></a>
              </div>
              <div class="col py-3">
                <a target="_blank" href="https://www.mitre.org/"><img class="s-logo" src="images/logos/mitre.png" style=" width:15%; min-width:200px; white-space: nowrap; padding: 10px;" alt="MITRE"></a>
              </div>
              <div class="col py-3">
                <a target="_blank" href="https://www.crd.com/"><img class="s-logo" src="images/logos/CRD-SS_Logo-PMS-Small.jpg" style=" width:15%; min-width:200px; white-space: nowrap; padding: 10px;" alt="Charles River Development"></a>
              </div>
            </div>
    {{site.event.sponsors.description | markdownify}}
  </div>
</section>

<!-- Partners -->
<section class="partners">
  <div class="container-fluid">
    <h1 class="text-center">Our Partners</h1>
    <div class="row">
      <div class="col py-3">
        <a target="_blank" href="https://www.stickermule.com/supports/hackathons"><img class="p-logo" src="images/logos/sticker-mule-logo-light.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="Sticker Mule"></a>
      </div>
      <div class="col py-3">
        <a target="_blank" href="https://radix.website/dot-tech"><img class="p-logo" src="images/logos/radix.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt=".Tech Domains"></a>
      </div>
      <div class="col py-3">
        <a target="_blank" href="https://www.jetbrains.com/"><img class="p-logo" src="images/logos/jet.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="JetBrains"></a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a target="_blank" href="https://www.twilio.com/"><img class="p-logo" src="images/logos/twilio-logo-red.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="Twilio"></a>
      </div>
      <div class="col py-3">
        <a target="_blank" href="https://ti.to/home"><img class="p-logo" src="images/logos/tito.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="Tito"></a>
      </div>
      <div class="col py-3">
        <a target="_blank" href="https://www.wolfram.com/?source=nav"><img class="p-logo" src="images/logos/Hackathon_Logo_Wolfram_2018_Vector.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="Wolfram Research, Inc."></a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a target="_blank" href="https://girlswhocode.com/?nabe=6169758503534592:3&utm_referrer=https%3A%2F%2Fwww.google.com%2F"><img class="p-logo" src="images/logos/GWC-logo.jpg" style=" width:10%; min-width:100px; white-space: nowrap;" alt="Girls Who Code"></a>
      </div>
      <div class="col py-3">
        <a target="_blank" href="https://www.figma.com/"><img class="p-logo" src="images/logos/figma-card.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="Figma"></a>
      </div>
      <div class="col py-3">
        <a target="_blank" href="https://bumble.com/"><img class="p-logo" src="images/logos/bumble.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="Bumble"></a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a target="_blank" href="https://www.builtbygirls.com/"><img class="p-logo" src="images/logos/bbgirls.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="#BUILTBYGIRLS"></a>
      </div>
       <div class="col py-3">
        <a target="_blank" href="http://bit.ly/HackHer413"><img class="p-logo" src="images/logos/CR nowe logo.jpg" style=" width:10%; min-width:100px; white-space: nowrap;" alt="ChallengeRocket.com"></a>
      </div>
      <div class="col py-3">
        <a target="_blank" href="https://www.quantopian.com/"><img class="p-logo" src="images/logos/Quantopian.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="Quantopian"></a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a target="_blank" href="https://www.producthunt.com/"><img class="p-logo" src="images/logos/product-hunt-logo-vertical-orange.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="Product Hunt"></a>
      </div>
       <div class="col py-3">
        <a target="_blank" href="https://piccles.com/"><img class="p-logo" src="images/logos/Piccles-logo_hamburger.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="Piccles"></a>
      </div>
      <div class="col py-3">
        <a target="_blank" href="https://mlh.io"><img class="p-logo" src="images/logos/mlh-logo-color.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="Major League Hacking"></a>
      </div>
    </div>
  </div>
</section>


<!-- Meet the Team -->
<section id="team" class="team">
    <div class="container">
    <div class="team-row">
  <div class="ps">
    <h1 class="text-center style="font-family: 'Raleway', sans-serif;"">Meet the Team</h1>
    <div class="team-row">
      <div class="column">
          <img class="bitmoji" src="images/katiebitmoji.png" alt="Katie House, HackHer413 Director">
            <h2 class="name">Katie House</h2>
            <p class="position">HackHer413 Director</p>
            <a href="https://www.linkedin.com/in/katiehouse3/"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
      <div class="column">
          <img class="bitmoji" src="images/shreya-bitmoji.png" alt="Shreya Sharma, HackHer413 Assistant Director">
            <h2 class="name">Shreya Sharma</h2>
            <p class="position">HackHer413 Assistant Director</p>
            <a href="https://www.linkedin.com/in/shreya-sharma-86b769a5/"><i class="fab fa-linkedin fa-2x" ></i></a>
      </div>
      <div class="column">
          <img class="bitmoji" src="images/sarahbitmoji.png" alt="Sarah Manlove, Head of Technology and Operations">
            <h2 class="name">Sarah Manlove</h2>
            <p class="position">Head of Technology &amp; Operations</p>
            <a href="https://www.linkedin.com/in/sarahmanlove/"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
    </div>
    <div class="team-row">
      <div class="column">
          <img class="bitmoji" src="images/disha-bitmoji.png" alt="Disha Srivastava, Head of Sponsorship">
            <h2 class="name">Disha Srivastava</h2>
            <p class="position">Head of Sponsorship</p>
            <a href="https://www.linkedin.com/in/dishsrivastava/"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
      <div class="column">
          <img class="bitmoji" src="images/risa-bitmoji.png" alt="Risa Kim, Head of Finance">
            <h2 class="name">Risa Kim</h2>
            <p class="position">Head of Finance</p>
            <a href="https://www.linkedin.com/in/risakim/"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
      <div class="column">
          <img class="bitmoji" src="images/alicia-bitmoji.png" alt="Alicia Bochnak, Head of Marketing">
            <h2 class="name">Alicia Bochnak</h2>
            <p class="position">Head of Marketing</p>
            <a href="https://www.linkedin.com/in/alicia-bochnak/"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
    </div>
      <div class="team-row">
      <div class="column">
          <img class="bitmoji" src="images/shreyasaw-bitmoji.png" alt="Shreya Sawant, Head of Internal Outreach">
            <h2 class="name">Shreya Sawant</h2>
            <p class="position">Head of Internal Outreach</p>
            <a href="https://www.linkedin.com/in/shreya-sawant-42aa57155/"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
      <div class="column">
          <img class="bitmoji" src="images/reetika-bitmoji.png" alt="Reetika Roy, Co-Head of External Outreach">
            <h2 class="name">Reetika Roy</h2>
            <p class="position">Co-Head of External Outreach</p>
            <a href="https://www.linkedin.com/in/reetika-roy-66000594/"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
      <div class="column">
          <img class="bitmoji" src="images/victoria-bitmoji.png" alt="Victoria Okoro, Co-Head of External Outreach">
            <h2 class="name">Victoria Okoro</h2>
            <p class="position">Co-Head of External Outreach</p>
            <a href="https://www.linkedin.com/in/victoria-okoro-a50089168/"><i class="fab fa-linkedin fa-2x"></i></a>
    </div>
  </div>
  <div class="team-row">
  <div class="column">
      <img class="bitmoji" src="images/vindhya-bitmoji.png" alt="Vindhya Rachur, Head of Hardware">
        <h2 class="name">Vindhya Rachur</h2>
        <p class="position">Head of Hardware</p>
        <a href="https://www.linkedin.com/in/vindhya-rachur-8a5880170/"><i class="fab fa-linkedin fa-2x"></i></a>
  </div>
  <div class="column">
      <img class="bitmoji" src="images/nila-bitmoji.png" alt="Nila Abirami Sadeeshkumar, Head of Volunteers">
        <h2 class="name">Nila Abirami Sadeeshkumar</h2>
        <p class="position">Head of Volunteers</p>
        <a href="https://www.linkedin.com/in/nila-abirami-sadeeshkumar/"><i class="fab fa-linkedin fa-2x"></i></a>
  </div>
  <div class="column">
      <img class="bitmoji" src="images/ishan-bitmoji.png" alt="Ishan Khatri, HackUMass Director">
        <h2 class="name">Ishan Khatri</h2>
        <p class="position">HackUMass Director</p>
        <a href="https://www.linkedin.com/in/ikhatri/"><i class="fab fa-linkedin fa-2x"></i></a>
  </div>
  </div>
</div>
</div>
</section>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

<!-- <section class="faq">
  <div class="container">
    <h1 class="text-center">FAQ</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.faq %}
        <div class="question col-xs-12 col-sm-12">
          <h2>{{ item.question }}</h2>
          <hr>
          {{ item.answer | markdownify }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section> -->
