---
layout: default
---

{% include hexagons.html %}

{% include hero.html %}
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


{% include about.html %}


<!-- Sponsors -->
<section id="sponsors" class="sponsors">
  <div class="container-fluid">
    <h1 class="text-center style="font-family: 'Raleway', sans-serif;"">Our Sponsors</h1>
    <div class="row">
            <div class="col py-3">
              <a target="_blank" href="https://www.cics.umass.edu/"><img class="s-logo" src="images/logos/CICS-medium.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="UMASS CICS"></a>
            </div>
            <div class="col py-3">
              <a target="_blank" href="https://www.bnymellon.com/us/en/home.jsp"><img class="s-logo" src="images/logos/BNY_Mellon.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="BNY Mellon"></a>
            </div>
            <div class="col py-3">
              <a target="_blank" href="https://www.wayfair.com/"><img class="s-logo" src="images/logos/Wayfair_logo_with_tagline.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Wayfair"></a>
            </div>
          </div>
          <div class="row">
            <div class="col py-3">
              <a target="_blank" href="https://www.accenture.com/us-en/careers/students-graduates"><img class="s-logo" src="images/logos/Acc_Logo_Black_Purple_RGB.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Accenture"></a>
            </div>
            <div class="col py-3">
              <a target="_blank" href="https://www.travelers.com/"><img class="s-logo" src="images/logos/Travelers-Logo-2.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Travelers"></a>
            </div>
            <div class="col py-3">
              <a target="_blank" href="https://www.bloomberg.com/"><img class="s-logo" src="images/logos/Bloomberg.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Bloomberg"></a>
            </div>
          </div>
        <div class="row">
          <div class="col py-3">
            <a target="_blank" href="https://ds.cs.umass.edu/"><img class="s-logo" src="images/logos/blue_cds_w_cics.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Center for Data Science"></a>
          </div>
          <div class="col py-3">
            <a target="_blank" href="https://www.zipcar.com/"><img class="s-logo" src="images/logos/zipcar-logo-1140x407.gif" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Zipcar"></a>
          </div>
          <div class="col py-3">
            <a target="_blank" href="https://ehr.meditech.com/"><img class="s-logo" src="images/logos/MEDITECH-social-media-logo.gif" style=" width:15%; min-width:200px; white-space: nowrap; padding: 10px;" alt="MEDITECH"></a>
          </div>
        </div>
          <div class="row">
            <div class="col py-3">
              <a target="_blank" href="https://www.bose.com/en_us/index.html"><img class="s-logo" src="images/logos/Bose-Logo.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Bose"></a>
            </div>
            <div class="col py-3">
              <a target="_blank" href="https://www.libertymutual.com/"><img class="s-logo" src="images/logos/PNGPIX-COM-Liberty-Mutual-Insurance-Logo-PNG-Transparent.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Liberty Mutual"></a>
            </div>
            <div class="col py-3">
              <a target="_blank" href="https://cloud.google.com/"><img class="s-logo" src="images/logos/GCP logo, transparent.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Google Cloud Platform"></a>
            </div>
          </div>
          <div class="row">
            <div class="col py-3">
              <a target="_blank" href="https://www.isenberg.umass.edu/centers/berthiaume-center-for-entrepreneurship"><img class="s-logo" src="images/logos/UMass_Berthiaume_Center_horiz-RGB-lrg.jpg" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Berthiaume Center for Entrepreneurship"></a>
            </div>
            <div class="col py-3">
              <a target="_blank" href="https://www.massmutual.com/"><img class="s-logo" src="images/logos/MassMutual_logo_blue.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="MassMutual"></a>
            </div>
            <div class="col py-3">
              <a target="_blank" href="https://balsamiq.com/"><img class="s-logo" src="images/logos/balsamiq.svg" style=" width:15%; min-width:250px; white-space: nowrap; padding: 10px;" alt="Balsamiq"></a>
            </div>
          </div>
            <div class="row">
              <div class="col py-3">
                <a target="_blank" href="https://www.facebook.com"><img class="s-logo" src="images/logos/facebook-logo-psd.jpg" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Facebook"></a>
              </div>
              <div class="col py-3">
                <a target="_blank" href="https://neuralframe.com/"><img class="s-logo" src="images/logos/NF-Logo-Color-Horizontal.jpg" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="NeuralFrame"></a>
              </div>
              <div class="col py-3">
                <a target="_blank" href="https://www.umass.edu/sphhs/"><img class="s-logo" src="images/logos/image.png" style=" width:15%; min-width:200px; white-space: nowrap; padding: 10px;" alt="UMass Amherst School of Public Health & Health Sciences"></a>
              </div>
            </div>
            <div class="row">
              <div class="col py-3">
                <a target="_blank" href="https://www.twosigma.com/"><img class="s-logo" src="images/logos/2im5eno.jpg" style=" width:15%; min-width:200px; white-space: nowrap; padding: 10px;" alt="Two Sigma"></a>
              </div>
              <div class="col py-3">
                <a target="_blank" href="https://github.com/"><img class="s-logo" src="images/logos/github-logo.svg" style=" width:15%; min-width:200px; white-space: nowrap; padding: 10px;" alt="GitHub"></a>
              </div>
              <div class="col py-3">
                <a target="_blank" href="https://www.vistaprint.com"><img class="s-logo" src="images/logos/vistaprint.png" style=" width:15%; min-width:200px; white-space: nowrap; padding: 10px;" alt="Vistaprint"></a>
              </div>
            </div>
            <div class="row">
              <div class="col py-3">
                <a target="_blank" href="https://www.armoredthings.com/"><img class="s-logo" src="images/logos/ArmoredThings-BlackLogo.png" style=" width:15%; min-width:200px; white-space: nowrap; padding: 10px;" alt="Armored Things"></a>
              </div>
              <div class="col py-3">
                <a target="_blank" href="https://www.mitre.org/"><img class="s-logo" src="images/logos/mitre.png" style=" width:15%; min-width:200px; white-space: nowrap; padding: 10px;" alt="MITRE"></a>
              </div>
              <div class="col py-3">
                <a target="_blank" href="https://www.crd.com/"><img class="s-logo" src="images/logos/CRD-SS_Logo-PMS-Small.jpg" style=" width:15%; min-width:200px; white-space: nowrap; padding: 10px;" alt="Charles River Development"></a>
              </div>
            </div>
    {{site.event.sponsors.description | markdownify}}
  </div>
</section>

<!-- Partners -->
<section class="partners">
  <div class="container-fluid">
    <h1 class="text-center">Our Partners</h1>
    <div class="row">
      <div class="col py-3">
        <a target="_blank" href="https://www.stickermule.com/supports/hackathons"><img class="p-logo" src="images/logos/sticker-mule-logo-light.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="Sticker Mule"></a>
      </div>
      <div class="col py-3">
        <a target="_blank" href="https://radix.website/dot-tech"><img class="p-logo" src="images/logos/radix.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt=".Tech Domains"></a>
      </div>
      <div class="col py-3">
        <a target="_blank" href="https://www.jetbrains.com/"><img class="p-logo" src="images/logos/jet.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="JetBrains"></a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a target="_blank" href="https://www.twilio.com/"><img class="p-logo" src="images/logos/twilio-logo-red.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="Twilio"></a>
      </div>
      <div class="col py-3">
        <a target="_blank" href="https://ti.to/home"><img class="p-logo" src="images/logos/tito.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="Tito"></a>
      </div>
      <div class="col py-3">
        <a target="_blank" href="https://www.wolfram.com/?source=nav"><img class="p-logo" src="images/logos/Hackathon_Logo_Wolfram_2018_Vector.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="Wolfram Research, Inc."></a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a target="_blank" href="https://girlswhocode.com/?nabe=6169758503534592:3&utm_referrer=https%3A%2F%2Fwww.google.com%2F"><img class="p-logo" src="images/logos/GWC-logo.jpg" style=" width:10%; min-width:100px; white-space: nowrap;" alt="Girls Who Code"></a>
      </div>
      <div class="col py-3">
        <a target="_blank" href="https://www.figma.com/"><img class="p-logo" src="images/logos/figma-card.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="Figma"></a>
      </div>
      <div class="col py-3">
        <a target="_blank" href="https://bumble.com/"><img class="p-logo" src="images/logos/bumble.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="Bumble"></a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a target="_blank" href="https://www.builtbygirls.com/"><img class="p-logo" src="images/logos/bbgirls.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="#BUILTBYGIRLS"></a>
      </div>
       <div class="col py-3">
        <a target="_blank" href="http://bit.ly/HackHer413"><img class="p-logo" src="images/logos/CR nowe logo.jpg" style=" width:10%; min-width:100px; white-space: nowrap;" alt="ChallengeRocket.com"></a>
      </div>
      <div class="col py-3">
        <a target="_blank" href="https://www.quantopian.com/"><img class="p-logo" src="images/logos/Quantopian.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="Quantopian"></a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a target="_blank" href="https://www.producthunt.com/"><img class="p-logo" src="images/logos/product-hunt-logo-vertical-orange.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="Product Hunt"></a>
      </div>
       <div class="col py-3">
        <a target="_blank" href="https://piccles.com/"><img class="p-logo" src="images/logos/Piccles-logo_hamburger.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="Piccles"></a>
      </div>
      <div class="col py-3">
        <a target="_blank" href="https://mlh.io"><img class="p-logo" src="images/logos/mlh-logo-color.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="Major League Hacking"></a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a target="_blank" href="https://www.womenofsiliconvalley.com/?utm_source=partners&utm_medium=HackHer413&utm_campaign=WoSV"><img class="p-logo" src="images/logos/women-of-silicon-valley.png" style=" width:10%; min-width:100px; white-space: nowrap;" alt="Women of Silicon Valley"></a>
      </div>
    </div>
  </div>
</section>


<!-- Meet the Team -->
<section id="team" class="team">
    <div class="container">
    <div class="team-row">
  <div class="ps">
    <h1 class="text-center style="font-family: 'Raleway', sans-serif;"">Meet the Team</h1>
    <div class="team-row">
      <div class="column">
          <img class="bitmoji" src="images/katiebitmoji.png" alt="Katie House, HackHer413 Director">
            <h2 class="name">Katie House</h2>
            <p class="position">HackHer413 Director</p>
            <a href="https://www.linkedin.com/in/katiehouse3/"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
      <div class="column">
          <img class="bitmoji" src="images/shreya-bitmoji.png" alt="Shreya Sharma, HackHer413 Assistant Director">
            <h2 class="name">Shreya Sharma</h2>
            <p class="position">HackHer413 Assistant Director</p>
            <a href="https://www.linkedin.com/in/shreya-sharma-86b769a5/"><i class="fab fa-linkedin fa-2x" ></i></a>
      </div>
      <div class="column">
          <img class="bitmoji" src="images/sarahbitmoji.png" alt="Sarah Manlove, Head of Technology and Operations">
            <h2 class="name">Sarah Manlove</h2>
            <p class="position">Head of Technology &amp; Operations</p>
            <a href="https://www.linkedin.com/in/sarahmanlove/"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
    </div>
    <div class="team-row">
      <div class="column">
          <img class="bitmoji" src="images/disha-bitmoji.png" alt="Disha Srivastava, Head of Sponsorship">
            <h2 class="name">Disha Srivastava</h2>
            <p class="position">Head of Sponsorship</p>
            <a href="https://www.linkedin.com/in/dishsrivastava/"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
      <div class="column">
          <img class="bitmoji" src="images/risa-bitmoji.png" alt="Risa Kim, Head of Finance">
            <h2 class="name">Risa Kim</h2>
            <p class="position">Head of Finance</p>
            <a href="https://www.linkedin.com/in/risakim/"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
      <div class="column">
          <img class="bitmoji" src="images/alicia-bitmoji.png" alt="Alicia Bochnak, Head of Marketing">
            <h2 class="name">Alicia Bochnak</h2>
            <p class="position">Head of Marketing</p>
            <a href="https://www.linkedin.com/in/alicia-bochnak/"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
    </div>
      <div class="team-row">
      <div class="column">
          <img class="bitmoji" src="images/shreyasaw-bitmoji.png" alt="Shreya Sawant, Head of Internal Outreach">
            <h2 class="name">Shreya Sawant</h2>
            <p class="position">Head of Internal Outreach</p>
            <a href="https://www.linkedin.com/in/shreya-sawant-42aa57155/"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
      <div class="column">
          <img class="bitmoji" src="images/reetika-bitmoji.png" alt="Reetika Roy, Co-Head of External Outreach">
            <h2 class="name">Reetika Roy</h2>
            <p class="position">Co-Head of External Outreach</p>
            <a href="https://www.linkedin.com/in/reetika-roy-66000594/"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
      <div class="column">
          <img class="bitmoji" src="images/victoria-bitmoji.png" alt="Victoria Okoro, Co-Head of External Outreach">
            <h2 class="name">Victoria Okoro</h2>
            <p class="position">Co-Head of External Outreach</p>
            <a href="https://www.linkedin.com/in/victoria-okoro-a50089168/"><i class="fab fa-linkedin fa-2x"></i></a>
    </div>
  </div>
  <div class="team-row">
  <div class="column">
      <img class="bitmoji" src="images/vindhya-bitmoji.png" alt="Vindhya Rachur, Head of Hardware">
        <h2 class="name">Vindhya Rachur</h2>
        <p class="position">Head of Hardware</p>
        <a href="https://www.linkedin.com/in/vindhya-rachur-8a5880170/"><i class="fab fa-linkedin fa-2x"></i></a>
  </div>
  <div class="column">
      <img class="bitmoji" src="images/nila-bitmoji.png" alt="Nila Abirami Sadeeshkumar, Head of Volunteers">
        <h2 class="name">Nila Abirami Sadeeshkumar</h2>
        <p class="position">Head of Volunteers</p>
        <a href="https://www.linkedin.com/in/nila-abirami-sadeeshkumar/"><i class="fab fa-linkedin fa-2x"></i></a>
  </div>
  <div class="column">
      <img class="bitmoji" src="images/ishan-bitmoji.png" alt="Ishan Khatri, HackUMass Director">
        <h2 class="name">Ishan Khatri</h2>
        <p class="position">HackUMass Director</p>
        <a href="https://www.linkedin.com/in/ikhatri/"><i class="fab fa-linkedin fa-2x"></i></a>
  </div>
  </div>
</div>
</div>
</section>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

<!-- <section class="faq">
  <div class="container">
    <h1 class="text-center">FAQ</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.faq %}
        <div class="question col-xs-12 col-sm-12">
          <h2>{{ item.question }}</h2>
          <hr>
          {{ item.answer | markdownify }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section> -->
