
<section id="about" class="about rainbow">
 <!-- {% include hexagon-top-border.html %}-->
  <div class="container">
    <div class="about-row">
        <div class="hex-row">
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
           <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
           <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
           <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
        <div class="hex-row even">
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
           <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          </div>
        </div>
        <div class="hex-row">
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
        </div>
        <div class="hex-row even">
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          <div class="hex hex-animate">
            <div class="top2"></div>
            <div class="middle2"></div>
            <div class="bottom2"></div>
          </div>
            <div class="hex hex-animate">
            <div class="top2"></div>
            <div class="middle2"></div>
            <div class="bottom2"></div>
          </div>
            <div class="hex hex-animate">
            <div class="top2"></div>
            <div class="middle2"></div>
            <div class="bottom2"></div>
          </div>
        </div>
        <div class="hex-row">
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
        </div>
        <div class="hex-row even">
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
        </div>
      </div>
        <div class="about-section">
          <div class = aos-init aos-animate data-aos="fade-in">
            <div class = "about-section-child">
              <h1 class="text-center">Our Mission</h1>
              {{site.event.about.description | markdownify }}
            </div>
        </div>
      </div>
    </div>
  
  <!--{% include hexagon-bottom-border.html %}-->
</section>
