
<section id="about" class="about rainbow">
 <!-- {% include hexagon-top-border.html %}-->
  <div class="container">
    <div class="about-row">
        <div class="hex-row">
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
           <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
           <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
           <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
        <div class="hex-row even">
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
           <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          </div>
        </div>
        <div class="hex-row">
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
        </div>
        <div class="hex-row even">
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          <div class="hex hex-animate">
            <div class="top2"></div>
            <div class="middle2"></div>
            <div class="bottom2"></div>
          </div>
            <div class="hex hex-animate">
            <div class="top2"></div>
            <div class="middle2"></div>
            <div class="bottom2"></div>
          </div>
            <div class="hex hex-animate">
            <div class="top2"></div>
            <div class="middle2"></div>
            <div class="bottom2"></div>
          </div>
        </div>
        <div class="hex-row">
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
        </div>
        <div class="hex-row even">
          <div class="hex hex-animate">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
        </div>
      </div>
        <div class="about-section">
              <h1 class="text-center">What a Success!</h1>
              <p>HackHer413 took place on February 9th and 10th of 2019. We had over 300 students, volunteers, sponsors and mentors come together to empower women and non-binary students learn and grow in tech. Thank you to all who came, and we cannot wait to see what will happen in future years!</p>
             <iframe width="80%" style="width:80%;min-width:200px;" height="315" src="https://www.youtube.com/embed/uN2mcc5CH3c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
      </div>
    </div>
  
  <!--{% include hexagon-bottom-border.html %}-->
</section>
