
<section id="different" class="different">
  {% include diff-hexagon-top-border.html %}
  <div class="container">
    <div class="d-row">
      <h1 class="diff text-center style="font-family: 'Raleway', sans-serif;"">What Makes Us Different</h1>
      <p class="diff">HackHer413’s mission to increase diversity in the tech industry will be present
      throughout our entire event. Our goal manifests into three categories: empowering,
      connecting, and inspiring students. From start to finish, here’s how HackHer413
      will embody these goals. </p>
      <div class="diff-row">
        <div class="text diff-col">
          <h2 class="header2">Unique Opportunities to Connect</h2>
          <p>Interested in talking to mentors about their career paths?
            Take a break from your hack and join us for <span class="bold">Coffee With Mentors</span>!
            Throughout the hackathon, we’ll have a space (and provide coffee and snacks!)
            where participants can sit down and talk to mentors about anything,
            ranging from advice to the mentor’s career to their favorite programming language!</p>
        </div>
        <div class="image diff-col">
          <img class="diff" src="images/connect_2.png" alt="Speech Bubbles" title="Connect">
        </div>
      </div>
      <div class="diff-row">
        <div class="image diff-col">
          <img class="diff" src="images/explore_2.png" alt="Fire icon" title="Empower">
        </div>
          <div class="text diff-col">
          <h2 class="header1">Empowering with Workshops and Resources</h2>
          <p>Being a beginner at a Hackathon can be intimidating. To combat this,
            we’re creating a <span class="bold">Beginner Track</span>! This track provides a schedule full
            of suggested workshops, events, and resources for beginners to make
            the most of the 24-hours. </p>
        </div>
      </div>
      <div class="diff-row">
        <div class="text diff-col">
          <h2 class="header3">Inspiring Students Throughout</h2>
          <p>Impostor Syndrome is real. We will have a round table event called
            <span class="bold">Real Talk</span> for anyone to come and share their experience in tech!
            We will discuss not only the amazing feats by people in the industry
            but also brainstorm ways to improve inclusivity in the tech world.
          </p>
        </div>
        <div class="image diff-col">
          <img class="diff" src="images/inspire_2.png" alt="Computer" title="Inspire">
        </div>
      </div>
    </div>
  </div>
  {% include hexagon-bottom-border.html %}
</section>
