<section id="keynote" class="keynote" style="padding-top:50px;padding-bottom:50px;">
  <div class="container">
    <div class="row">
      <div class="col-md-3" style="text-align:left;">
        <?xml version="1.0" encoding="utf-8"?>
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="300px" height="300px" viewBox="35 20 30 60" style="enable-background:new 0 0 100 100;" xml:space="preserve">
            <defs>
                <pattern id="pattern1" height="100%" width="100%" patternContentUnits="objectBoundingBox">
                    <image height="1" width="1" preserveAspectRatio="none" xlink:href="images/Julie_Flannery.jpg" />
                </pattern>
            </defs>
        <polygon id="FirstHEX" style="stroke:#EBF9F3;stroke-width:2;stroke-miterlimit:10;" fill="url(#pattern1)" points="35.908,74.406 21.818,50 35.908,25.594 
          64.091,25.594 78.183,50 64.091,74.406 ">
            <animateTransform/>
                </polygon>
        <polygon id="SecondHEX" style="fill:none;stroke:#D099D5;stroke-width:2;stroke-miterlimit:10;" points="35.908,74.406 21.818,50 35.908,25.594 
          64.091,25.594 78.183,50 64.091,74.406 ">
          <animateTransform attributeName="transform"
                            type="rotate"
                            from="0 50 50" to="360 50 50"
                            begin="0s" dur="10s"
                            repeatCount="indefinite"/>
          </polygon>
        <polygon style="fill:none;stroke:#C7E3F0;stroke-width:2;stroke-miterlimit:10;" points="35.908,74.406 21.818,50 35.908,25.594 
          64.091,25.594 78.183,50 64.091,74.406 ">
          
          <animateTransform attributeName="transform"
                            type="rotate"
                            from="0 50 50" to="360 50 50"
                            begin="0s" dur="50s"
                            repeatCount="indefinite"/>
          </polygon>
        </svg>
        </div>
        <div class="col-sm-7" style="margin-left:100px;">
          <h2 class="header2">Meet our Keynote, Julie Flannery!</h2>
          <p style="font-size:16px;">
          Julie graduated with Honors from the University of Massachusetts at Amherst with a Bachelor's degree in Computer and Information Science.  She started her career as a software engineer for Motorola and then held various roles as a member of the engineering teams at Enterasys Networks and Lucent Technologies.  

          Julie joined EMC in August, 2007 and has been both an individual contributor and team leader. Originally joining to work on the Celerra product, she has worked on many of the mid-range product offerings including VNX, VNXe and Unity.

          Julie currently leads the NGMPG Product and Delivery Team at Dell EMC for the next-gen mid-range product offering. Responsibilities include driving process, planning and execution across the extended development team. Additionally, her team provides system integration expertise to both external and internal development partners evaluating, driving and validating system solutions.

          She is happy to say that she has participated in several hackathons while at Dell EMC and is excited for the opportunity to be involved in the first HackHer413!
          </p>
      </div>
    </div>
  </div>
  {% include hexagon-bottom-border.html %}
</section>
