<section id="prizes" class="prizes">
  <div class="container">
    <div class="row">
      <div class="prize_categories" style="font-family: 'Gugi'">P<span class='b1'>r</span>i<span class="b1">z</span>e Cate<span class="b2">g</span>ories</div>
    </div>
    <div class="row prize_description">
      <div class="col">
        <h4>HackHer413 will have three main prize categories: creating solutions, inspiring change, and empowering each other. Each category will have two or more additional prizes associated with it. Check back closer to the event to see what you will win with each prize category! As a reminder, you cannot begin your hack until the event officially begins on February 9th. At HackHer413, you can submit your hack to as many of these prizes as are relevant to your creation. This is not the final list and more challenges are likely to appear!</h4>
      </div>
    </div>
  </div>
  <div id="post-its">
  <div class="container">
    <div class="row">
     <div class="col prizes-col">
      <div id="post-it-container">
        <div id="post-it-card" class="shadow">
          <div class="front face">
            <div class="prize_title color1">
              <p>
                <img src="https://www.hackher413.com/images/idea.png"  style="width:100px;">
                <br><br>
                Create Solutions
              </p>
            </div>
          </div>
          <div class="back face center color1" >

            <p><b>Best Hardware Hack: </b>Best use of physical components.</p>
            <p><b>Best Design: </b>Best aesthetic or artistic hack.</p>
            <br>
            <p><b>We're looking for the most creative and technically robust solutions to address a user's needs!</b></p>

          </div>
         </div>
        </div>
      </div>
    <div class="col prizes-col">
      <div id="post-it-container">
        <div id="post-it-card" class="shadow">
          <div class="front face">
             <div class="prize_title color2">
              <p>
                <img src="https://www.hackher413.com/images/plant.png"  style="width:100px;">
                <br><br>
                Inspire Change
              </p>
            </div>
          </div>
          <div class="back face center color2" >

            <p><b>Best Social Good Hack: </b>Best hack that benefits members of a community.</p>
            <p><b>Best Equality Hack: </b>Best hack that helps underrepresented minorities.</p>
            <br>
            <p><b>We're looking for the most inspirational hacks that address a humanitarian cause!</b></p>

          </div>
        </div>
      </div>
    </div>
    <div class="col prizes-col">
      <div id="post-it-container">
        <div id="post-it-card" class="shadow">
          <div class="front face">
            <div class="prize_title color3">
                <p>
                <img src="https://www.hackher413.com/images/super.png"  style="width:100px;">
                <br><br>
                Empower Each Other
              </p>
            </div>
          </div>
          <div class="back face center color3">

            <p><b>Best Beginner Hack: </b>Best hack from a team comprised of beginner hackers.</p>
            <p><b>Best Hack Outside of the Box:</b> A creative hack that does not necessarily incorporate code.</p>

            <p><b>We're looking for hacks that empower others to pursue innovation, explore new fields, and get out of their comfort zones!</b></p>
          </div>
        </div>
       </div>
      </div>
    </div>
    </div>
  </div>
</section>
