
<div id="resources" class="container">
    <div class="row" style="padding-top:50px;">
      <h1 class="text-center" style="font-family: 'Raleway', sans-serif; width:100%;">Resources</h1>
      <h4 style="width:100%;text-align: center;padding-left:20px;padding-right:20px;">
        Prepare for a weekend of hacking fun with these online resources hand-picked by our planning team!
      </h4>
    </div>
    <div class="row" style="padding-top:100px;padding-bottom:100px">
      <div class="resources">
        <div class="main-grid">
           <!--code_academy-->
          <div class="r-hex1">
            <a target="_blank" href="https://www.codecademy.com/learn">
              <img class="clip-o"  onmouseover="this.src='/images/resources/1_resource_logo_2.PNG'" 
                                onmouseout="this.src='/images/resources/1_resource_desc.PNG'" 
                                src="/images/resources/1_resource_desc.PNG"/>
            </a>
          </div>
          <!--khan_academy-->
          <div class="r-hex2">
            <a target="_blank" href="https://www.khanacademy.org/hourofcode">
              <img class="clip-o"  onmouseover="this.src='/images/resources/2_resource_logo.PNG'" 
                                onmouseout="this.src='/images/resources/2_resource_desc.PNG'" 
                                src="/images/resources/2_resource_desc.PNG"/>
            </a>
          </div>
          <!--free code camp-->
          <div class="r-hex3">
            <a target="_blank" href="https://learn.freecodecamp.org/">
              <img class="clip-o"  onmouseover="this.src='/images/resources/3_resource_logo.PNG'" 
                                onmouseout="this.src='/images/resources/3_resource_desc.PNG'" 
                                src="/images/resources/3_resource_desc.PNG"/>
            </a>
          </div>

          <!--kaggle-->
          <div class="r-hex4">
            <a target="_blank" href="https://www.kaggle.com/learn/overview">
              <img class="clip-o"  onmouseover="this.src='/images/resources/6_resource_logo.PNG'" 
                                onmouseout="this.src='/images/resources/6_resource_desc.PNG'" 
                                src="/images/resources/6_resource_desc.PNG"/>
            </a>
          </div>
          <!--Udacity-->
          <div class="r-hex5">
            <a target="_blank" href="https://www.udacity.com/course/intro-to-computer-science--cs101">
              <img class="clip-o"  onmouseover="this.src='/images/resources/4_resource_logo.PNG'" 
                                onmouseout="this.src='/images/resources/4_resource_desc.PNG'" 
                                src="/images/resources/4_resource_desc.PNG"/>
            </a>
          </div>
          <!--edX-->
          <div class="r-hex6">
            <a target="_blank" href="https://www.edx.org/learn/computer-programming">
              <img class="clip-o"  onmouseover="this.src='/images/resources/5_resource_logo.PNG'" 
                                onmouseout="this.src='/images/resources/5_resource_desc.PNG'" 
                                src="/images/resources/5_resource_desc.PNG"/>
            </a>
          </div>
          <!--Leet code-->
          <div class="r-hex7">
            <a target="_blank" href="https://leetcode.com/">
              <img class="clip-o"  onmouseover="this.src='/images/resources/7_resource_logo.PNG'" 
                                onmouseout="this.src='/images/resources/7_resource_desc.PNG'" 
                                src="/images/resources/7_resource_desc.PNG"/>
            </a>
          </div>
          <!--codewars-->
          <div class="r-hex8">
            <a target="_blank" href="https://www.youtube.com/watch?v=tpIctyqH29Q&list=PL8dPuuaLjXtNlUrzyH5r6jN9ulIgZBpdo">
              <img class="clip-o"  onmouseover="this.src='/images/resources/9_resource_logo.PNG'" 
                                onmouseout="this.src='/images/resources/9_resource_desc.PNG'" 
                                src="/images/resources/9_resource_desc.PNG"/>
            </a>
          </div>
          <!--crash course-->
          <div class="r-hex9">
            <a target="_blank" href="https://www.codewars.com/">
              <img class="clip-o"  onmouseover="this.src='/images/resources/8_resource_logo.PNG'" 
                                onmouseout="this.src='/images/resources/8_resource_desc.PNG'" 
                                src="/images/resources/8_resource_desc.PNG"/>
            </a>
          </div>
        </div>
      </div>
  </div>
</div>